/*------------------
	Main Window
 -------------------*/

#container-1 {
	height: auto; /*660px;*/
    width: auto;
    margin: auto;
}

/*------------------
	Header
 -------------------*/

#header {
	height: 45px;
	line-height: 45px;
    width: auto;
    background-color: #000000 /*#4A4A4A;*/
}

#lineid-1 {
	height: 2px;
    width: auto;
    background-color: #4A4A4A;
}


#mapname {
	font-family: Geneva, sans-serif;
	font-size: 22pt;
	color: white;
	margin-left: 1%;
}

/*------------------
	Map Window 
 -------------------*/

#mapid { 
	margin: auto;
	height: 615px;
	width: 75%; /*75%*/
	float: left;
}

/*------------------
	Separation
 -------------------*/

#lineid-2 {
	height: 615px;
    width: 0.2%;
    margin: auto;
    float: left;
    background-color: #4A4A4A;
}

/*------------------
	Info Window 
 -------------------*/

#citySearch {
	margin-left: 6%;
	margin-top: 4%
}

#result {
	margin-left: 6%;
	font-family: Courier;
	font-size: 9pt;
	color: white;
}

#dupe-list {
	margin-left: 6%;
	font-family: Courier;
	font-size: 8pt;
	color: white;
}

.dupes {
	font-family: Courier;
	font-size: 8pt;
	color: white;
}

/*------------------
	Data
 -------------------*/

#map-container {
	height: 615px;
    width: 24.8%;
    margin: auto;
    float: right;
    background-color: #000000; /*#EEEEEE;*/
}

.title {
	margin-left: 6%;
	margin-top: 8%;
	font-family: Courier;
	font-size: 12pt;
	color: white;
	
}

.info {
	margin-left: 6%;
	margin-right: 6%;
	font-family: Courier;
	font-size: 9pt;
	color: white;
	
}

/*------------------
	Chart
 
#chartid {
	margin-left: 5%;
	margin-top: auto;
	height: 155px;
	width: 240px;
	background-color: white;
}

#legendid {
	height: 155px;
	width: auto;
	margin: auto;
}

-------------------*/

/*------------------
	Legend
 -------------------*/

.legend {
	padding: 6px 10px;
	height: 130px;
	width: 160px;
	background: white;
	border-radius: 5px;
}

#legend-title {
	font-family: Geneva, sans-serif;
	font-size: 9pt;
	color: #363636;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 2%;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid orange;
    margin-top: auto;
    margin-left: 2.5%;
    display: inline-block;
    vertical-align: middle;
}

.text {
	font-family: Geneva, sans-serif;
	font-size: 8pt;
	color: #363636;
	margin-left: 5%;
	vertical-align: middle;
}










